# Program details
test = 0

#Time
runtime = 60
nFrames = 1201

#Actin
nActin = 0
nActinLimit = 10000
gActinConc = 10
segLength = 5E-7

#Steric
steric = 1
stericGrid = -2E-5, 2E-5

# Nucleation
nucleation = 1
k_nuc = 0.2
#activeNuc = 1

# Poly/Depoly
# Defaults

# Branching
branching = 0
arpConc = 1
#activeBranch = 1

crosslinking = 1
nucDir = 1
nucDirMean = 0.5
nucDirStDev = 0.005


#Capping
capping_barb = 1
capping_point = 1
uncapping_barb = 0
uncapping_point = 0
cpConc = 0.2
#activeAntiCap = 1

# Brownian dynamics
bDynamics = 1
viscosity = 0.05
temp = 300

#Target
#dfmTarget = -9.1E-6, 20E-6, 20, 0


#Membrane (want length multiple of 250nm)
membrane = 0, 37.75E-6, 20, 0

## ringed nucleation region
nucRegionR = 0, 5.5E-6, 0.5E-6, 1E-8, 0.25

#Analysis
printLen = 1
#printPhago = 1

# Python plotting
pythonPlot = 1
pythonFrameLimits = -10E-6, -6E-6, 10E-6, 14E-6

pythonTimeperFrame = 0.05

#Video
video = 1
